.filter-list__item, .footer-list__item, .address__item, .client-list__item, .features-list__item, .work-list__item, .social-list__item, .contacts__item, .contact-list__item, .nav-flex__item, .navigation-list__item {
  list-style-type: none;
  margin-bottom: 0;
}

.card-list, .filter-list, .footer-list, .address__list, .client-list, .features-list, .work-list, .social-list, .command-list, .contacts, .contact-list, .nav-flex__list, .navigation-list, .socials-mobile {
  padding: 0;
  margin: 0;
  list-style: none;
}

.contacts__link, .contact-list__link, .navigation-list__link, .socials-mobile__link {
  display: inline-block;
}

.nav-flex__link {
  position: relative;
  display: block;
  padding: 32px 0;
  color: var(--primary-heading-color);
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  text-decoration: none;
  letter-spacing: 0.02em;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client-link, .contact-list__icon {
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-section, .clients, .features-section, .work-section, .command-section {
  margin: 0 0;
}

.work-section__heading, .command-section__heading, .clients__heading {
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-weight: 700px;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.modal-form__input + .modal-form__icon, .modal-close__use, .modal-close, .client-link__logo, .social-link__card, .contacts__icon, .contacts__link {
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address__contact, .address__location, .contacts__link, .nav-flex__link {
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-list__link {
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address__contact, .address__location {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  font-style: normal;
  text-decoration: none;
  letter-spacing: 0.03em;
}

.footer-group__input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-group__input::-moz-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-group__input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-group__input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-group__input:not(:-moz-placeholder-shown) {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-group__input:not(:-ms-input-placeholder) {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-group__input:not(:placeholder-shown), .footer-group__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.modal {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  color: #212121;
  font-family: Roboto, sans-serif;
}

.image {
  display: block;
  max-width: 100%;
}

.member-image {
  max-width: 100%;
}
@media (min-width: 480px) {
  .member-image {
    max-height: 460px;
  }
}
@media (min-width: 768px) {
  .member-image {
    max-height: 374px;
  }
}
@media (min-width: 1200px) {
  .member-image {
    max-height: 260px;
  }
}

.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  height: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.no-scroll {
  overflow: hidden;
}

.logo {
  color: #2196f3;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  text-decoration: none;
  letter-spacing: 0.03em;
}
@media (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.4;
  }
}
.logo--black {
  color: #000;
}
.logo--white {
  color: #fff;
  letter-spacing: 0.03em;
}
.logo-header {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  padding: 16px 0;
}
@media (min-width: 768px) {
  .logo-header {
    padding: 26px 0;
  }
}
@media (min-width: 1200px) {
  .logo-header {
    padding: 24px 0 25px;
  }
}
.logo-footer {
  display: inline-block;
  width: 100%;
  margin-bottom: 20px;
}

.burger {
  position: absolute;
  top: 10px;
  right: 15px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}
.burger .is-open .burger__menu {
  display: none;
}
@media screen and (min-width: 768px) {
  .burger {
    display: none;
  }
}

.menu-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  padding: 48px 40px;
  z-index: 1000;
  -webkit-transform: translateX(100vw);
          transform: translateX(100vw);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: scroll;
}
.menu-container__button {
  position: absolute;
  top: 10px;
  right: 15px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
}

.menu-container.is-open {
  display: block;
  z-index: 1000;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
@media (min-width: 768px) {
  .menu-container.is-open {
    display: none;
  }
}

.socials-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.socials-mobile__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2196f3;
  text-decoration: none;
}

.socials-mobile__item {
  padding: 0 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.socials-mobile__item:nth-child(1) {
  padding-left: 0;
}
.socials-mobile__item:last-child {
  border-right: none;
  padding-right: 0;
}

.button {
  display: block;
  padding: 10px 32px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  border: none;
  border-radius: 4px;
  background-color: #2196f3;
  color: #fff;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  cursor: pointer;
  letter-spacing: 0.06em;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover, .button:focus {
  background-color: #188ce8;
  color: #fff;
}

.navigation {
  margin-bottom: 302px;
}
@media (min-width: 768px) {
  .navigation-list {
    display: none;
  }
}

.navigation-list__item {
  display: block;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.navigation-list__item:not(last-child) {
  margin-bottom: 32px;
}

.navigation-list__link {
  text-decoration: none;
  color: #212121;
}
.navigation-list__link--after {
  color: #2196f3;
}
.navigation-list__link:hover, .navigation-list__link:focus {
  color: #2196f3;
}

.nav-flex {
  position: absolute;
  top: 0;
  display: none;
  margin-left: 87px;
  width: 283px;
  margin-right: 96px;
  height: 100%;
}
@media (min-width: 768px) {
  .nav-flex {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (min-width: 1200px) {
  .nav-flex {
    margin-left: 92px;
    margin-right: 315px;
  }
}
.nav-flex__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav-flex__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav-flex__item:not(:last-child) {
  margin-right: 50px;
}

.nav-flex__link {
  line-height: 1.2;
}
.nav-flex__link--after {
  color: #2196f3;
}
.nav-flex__link:hover, .nav-flex__link:focus {
  color: #2196f3;
}

.nav-flex__link--after::after {
  content: "";
  position: absolute;
  display: block;
  width: 47px;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
  bottom: 0;
}
@media (min-width: 1200px) {
  .nav-flex__link--after::after {
    bottom: -2px;
  }
}

.header {
  border-bottom: 1px solid #eee;
}
@media (min-width: 768px) {
  .header {
    min-height: 80px;
  }
}

.contact-list {
  margin-bottom: 64px;
}

.contact-list__item:not(:last-child) {
  margin-right: 48px;
}
.contact-list__item:last-child {
  min-width: 142px;
}

.contact-list__link {
  position: relative;
  padding: 32px, 0;
  color: #757575;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  text-decoration: none;
  letter-spacing: 0.02em;
  -webkit-transition-property: fill, color;
  transition-property: fill, color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-list__link:hover, .contact-list__link:focus {
  color: #2196f3;
}
.contact-list__link:hover .contact-list__icon, .contact-list__link:focus .contact-list__icon {
  fill: #2196f3;
}
.contact-list__link--phone {
  font-size: 34px;
  line-height: 1.2;
  color: #2196f3;
  margin-bottom: 32px;
}
.contact-list__link--mail {
  font-size: 24px;
  line-height: 1.2;
}

.contact-list__icon {
  fill: #757575;
  margin-right: 10px;
  display: inline-block;
  -webkit-transition-property: fill;
  transition-property: fill;
}
.contact-list__icon:hover, .contact-list__icon:focus {
  fill: #2196f3;
}

.contacts {
  display: none;
}
@media (min-width: 768px) {
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    top: 0;
    right: 15px;
  }
}
@media (min-width: 1200px) {
  .contacts {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.contacts__item:first-child {
  margin-bottom: 10px;
  padding-top: 21px;
}
.contacts__item:last-child {
  margin-bottom: 21px;
}
@media (min-width: 1200px) {
  .contacts__item {
    padding: 32px 0;
    margin-bottom: 0;
  }
}

.contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
}
.contacts__link:hover, .contacts__link:focus {
  color: #2196f3;
}
.contacts__link:hover .contacts__icon, .contacts__link:focus .contacts__icon {
  color: #2196f3;
  fill: #2196f3;
}
@media (min-width: 1200px) {
  .contacts__link {
    font-size: 14px;
  }
  .contacts__link:first-child {
    margin-right: 30px;
  }
}

.contacts__icon {
  fill: #757575;
  margin-right: 8px;
}
.contacts__icon:hover, .contacts__icon:focus {
  fill: #2196f3;
}

@media (min-width: 768px) {
  .contacts__icon--envelope {
    width: 14px;
    height: 10px;
  }
}
@media (min-width: 1200px) {
  .contacts__icon--envelope {
    width: 16px;
    height: 12px;
  }
}

@media (min-width: 768px) {
  .contacts__icon--phone {
    width: 10px;
    height: 14px;
  }
}
@media (min-width: 1200px) {
  .contacts__icon--phone {
    width: 10px;
    height: 16px;
  }
}

.hero-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 118px 0;
  text-align: center;
  max-width: 100vw;
  height: auto;
  margin: 0 auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/header-mobile.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/header-mobile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #c4c4c4;
  border: 1px solid #000000;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero-section {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/header-mob@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/header-mob@2x.jpg");
  }
}
@media (min-width: 480px) {
  .hero-section {
    padding: 118px 60px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/header-tablet.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/header-tablet.jpg");
  }
}
@media (min-width: 480px) and (min-device-pixel-ratio: 2), (min-width: 480px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 480px) and (min-resolution: 192dpi), (min-width: 480px) and (min-resolution: 2dppx) {
  .hero-section {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/header-tab@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/header-tab@2x.jpg");
  }
}
@media (min-width: 768px) {
  .hero-section {
    max-width: 1600px;
    padding-top: 118px;
    padding-bottom: 204px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/header-desctop.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/header-desctop.jpg");
  }
}
@media (min-width: 768px) and (min-device-pixel-ratio: 2), (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 192dpi), (min-width: 768px) and (min-resolution: 2dppx) {
  .hero-section {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-desc@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-desc@2x.jpg");
  }
}
.hero-section__heading {
  margin: 0 auto 30px;
  color: #fff;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  text-transform: uppercase;
  letter-spacing: 0.06em;
}
@media (min-width: 1200px) {
  .hero-section__heading {
    font-size: 44px;
    line-height: 1.4;
  }
}

.container-hero {
  text-align: center;
  margin: 0;
}
@media (min-width: 480px) {
  .container-hero {
    width: 360px;
    margin-right: 0;
  }
}
@media (min-width: 1200px) {
  .container-hero {
    width: 696px;
  }
}

.command-section {
  background-color: #f5f4fa;
  padding-top: 60px;
}
@media (min-width: 1200px) {
  .command-section {
    padding-top: 94px;
  }
}
.command-section__heading {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}
@media (min-width: 1200px) {
  .command-section__heading {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.command-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  padding-bottom: 60px;
}
@media (min-width: 768px) {
  .command-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
    -ms-flex-line-pack: justify;
        align-content: space-between;
  }
}
@media (min-width: 1200px) {
  .command-list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 94px;
  }
}

.command-list__item {
  background-color: #fff;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  min-width: 320px;
}
@media (min-width: 480px) {
  .command-list__item {
    max-width: 450px;
  }
}
@media (min-width: 768px) {
  .command-list__item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
    max-width: 354px;
  }
}
@media (min-width: 1200px) {
  .command-list__item {
    -ms-flex-preferred-size: calc((100% - 90px) / 4);
        flex-basis: calc((100% - 90px) / 4);
    min-width: 270px;
    max-width: 270px;
    height: 429px;
  }
}

.member-description {
  width: 100%;
  text-align: center;
  padding-bottom: 24px;
  padding-top: 30px;
}
@media (min-width: 1200px) {
  .member-description {
    padding-bottom: 30px;
  }
}
.member-description__name {
  margin: 0 auto 10px auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.member-description__paragraph {
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-link {
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 22px;
  background-color: #fff;
  -webkit-transition-property: background-color, fill;
  transition-property: background-color, fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover .social-link__card, .social-link:focus .social-link__card {
  fill: #fff;
}
.social-link:hover, .social-link:focus {
  background-color: #2196f3;
}

.social-link__card {
  fill: #afb1b8;
  margin: 12px;
}
.social-link__card:hover, .social-link__card:focus {
  fill: #fff;
}

.work-section {
  display: none;
}
@media (min-width: 1200px) {
  .work-section {
    display: block;
    padding-bottom: 94px;
  }
}

@media (min-width: 1200px) {
  .work-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.work-list__item:not(:last-child) {
  margin-right: 30px;
}

.work-div {
  position: relative;
}

.work-description {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  padding-top: 27px;
  padding-bottom: 27px;
  background-color: rgba(47, 48, 58, 0.8);
}
.work-description__paragraph {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  color: #fff;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features-section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media (min-width: 1200px) {
  .features-section {
    padding: 94px 0 94px;
  }
}

.features-list {
  padding: 0 15px;
}
@media (min-width: 768px) {
  .features-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.features-list__item {
  width: 100%;
  margin: 0 auto;
}
.features-list__item:not(:last-child) {
  margin-bottom: 30px;
}
@media (min-width: 480px) {
  .features-list__item {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .features-list__item {
    margin-left: 0;
    width: calc((100% - 30px) / 2);
  }
  .features-list__item:nth-child(2n-1) {
    margin-right: 30px;
  }
  .features-list__item:nth-last-child(-n+2) {
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .features-list__item {
    width: calc((100% - 90px) / 4);
    margin-bottom: 0;
  }
  .features-list__item:not(:last-child) {
    margin-right: 30px;
  }
}

.features-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-bottom: 30px;
  height: 120px;
  background-color: #f5f4fa;
  border: none;
  border-radius: 4px;
}
@media (min-width: 480px) {
  .features-div {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .features-div {
    width: 354px;
  }
}
@media (min-width: 1200px) {
  .features-div {
    width: 270px;
  }
}

.features-list__heading {
  margin: 0 auto 10px auto;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  text-align: center;
}
@media (min-width: 768px) {
  .features-list__heading {
    margin: 0 auto 10px 0;
    text-align: left;
  }
}

.features-list__paragraph {
  color: #757575;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.03em;
  margin: 0 auto;
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media (min-width: 1200px) {
  .clients {
    padding: 94px 0;
  }
}
@media (max-width: 1200px) {
  .clients__heading {
    margin-bottom: 30px;
    font-size: 28px;
  }
}

.client-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (min-width: 1200px) {
  .client-list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.client-list__item {
  margin-bottom: 30px;
  width: calc((100% - 30px) / 2);
}
.client-list__item:nth-child(2n-1) {
  margin-right: 30px;
}
.client-list__item:nth-last-child(-n+2) {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .client-list__item {
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
  }
  .client-list__item:nth-child(3n) {
    margin-right: 0;
  }
  .client-list__item:nth-last-child(-n+3) {
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .client-list__item {
    margin-bottom: 0;
    width: calc((100% - 150px) / 6);
  }
  .client-list__item:not(:last-child) {
    margin-right: 30px;
  }
}

.client-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-transition-property: border-color, fill;
  transition-property: border-color, fill;
}
.client-link:hover > .client-link__logo, .client-link:focus > .client-link__logo {
  fill: #2196f3;
}
.client-link:hover, .client-link:focus {
  border-color: #2196f3;
}
.client-link > .client-link__use:hover, .client-link > .client-link__use:focus {
  border-color: transparent;
}
.client-link__logo {
  fill: #afb1b8;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
  overflow: hidden;
}
.footer-contacts {
  text-align: center;
}
@media (min-width: 768px) {
  .footer-contacts {
    width: 232px;
    margin-left: 76px;
  }
}
@media (min-width: 1200px) {
  .footer-contacts {
    text-align: left;
    margin-left: 0;
  }
}

.container-footer {
  width: 100vw;
  text-align: center;
}
@media (min-width: 768px) {
  .container-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (min-width: 1200px) {
  .container-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    width: 100%;
  }
}

.address {
  display: inline-block;
}

.address__item:not(:last-child) {
  margin-bottom: 8px;
}

.address__location {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
  text-align: center;
}
.address__location:hover, .address__location:focus {
  color: #2196f3;
}

.address__contact {
  color: #d9d9d9;
}
.address__contact:hover, .address__contact:focus {
  color: #2196f3;
}

.footer-socials {
  margin: 60px auto;
  text-align: center;
}
@media (min-width: 768px) {
  .footer-socials {
    width: 206px;
    margin-left: 165px;
    margin-top: 0;
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .footer-socials {
    margin-left: 70px;
    text-align: left;
    margin-right: 93px;
  }
}
.footer-socials__heading {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
  padding-left: 0;
}

.footer-list__item:not(:last-child) {
  margin-right: 10px;
}

.footer-list__link {
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 22px;
  background-color: rgba(255, 255, 255, 0.1);
}
.footer-list__link:hover, .footer-list__link:focus {
  background-color: #2196f3;
}

.footer-list__icon {
  margin: 12px;
  fill: #fff;
}

.footer-form {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 480px) {
  .footer-form {
    width: 450px;
  }
}
@media (min-width: 768px) {
  .footer-form {
    margin-top: 60px;
  }
}
@media (min-width: 1200px) {
  .footer-form {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    width: 573px;
  }
}

.footer-group {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 100%;
}
@media (min-width: 1200px) {
  .footer-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: left;
    width: 360px;
  }
}

.footer-group__label {
  display: inline-block;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #fff;
}

.footer-group__input {
  width: 100%;
  padding: 15px 16px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: transparent;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-group__input:hover, .footer-group__input:focus {
  border: 1px solid #2196f3;
  outline: #2196f3;
}
.footer-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 28px 13px 28px;
  line-height: 1.875;
  text-align: center;
  -webkit-transition: background-color, -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color, -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-button:hover, .footer-button:focus-within {
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.footer-button__icon {
  margin-left: 10px;
}
.footer-button__use {
  fill: #fff;
}
@media (min-width: 1200px) {
  .footer-button {
    margin-left: 12px;
    margin-top: 0;
  }
}

.backdrop {
  position: fixed;
  opacity: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  visibility: visible;
  padding: 93px 15px 94px 15px;
  overflow-y: scroll;
  -webkit-transition: opacity, visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity, visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media (min-width: 768px) {
  .backdrop {
    padding: 208px 159px 207px 159px;
  }
}
@media (min-width: 1200px) {
  .backdrop {
    padding: 221px 536px 222px 536px;
  }
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  -webkit-transition: opacity, visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity, visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.9);
          transform: translate(-50%, -50%) scale(0.9);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  padding: 40px;
  height: auto;
  border-radius: 4px;
  background-color: #fff;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media (min-width: 480px) {
  .modal {
    width: 450px;
    height: 609px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(50% -50%);
            transform: translate(50% -50%);
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 6px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.modal-close:hover .modal-close__use {
  fill: #2196f3;
}

.modal-close__svg {
  cursor: pointer;
}

.modal-close__use {
  fill: #000;
}

.modal-form {
  width: 100%;
}
.modal-form__heading {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 12px;
}
@media (min-width: 1200px) {
  .modal-form__heading {
    line-height: 1.172;
  }
}
.modal-form__span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-left: 8px;
  font-weight: 400px;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #757575;
  width: 100%;
  height: auto;
}
@media (min-width: 1200px) {
  .modal-form__span {
    font-size: 14px;
    width: 400px;
    line-height: 1.7;
  }
}
.modal-form__contract {
  color: #2196f3;
  display: inline-block;
  line-height: 1.2;
}
@media (min-width: 1200px) {
  .modal-form {
    width: 448px;
  }
}

.modal-form__textarea {
  width: 100%;
  height: 120px;
  margin-top: 4px;
  margin-bottom: 20px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__textarea::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__textarea::-moz-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__textarea:-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__textarea::-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__textarea::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
@media (min-width: 1200px) {
  .modal-form__textarea::-webkit-input-placeholder {
    font-size: 12px;
  }
  .modal-form__textarea::-moz-placeholder {
    font-size: 12px;
  }
  .modal-form__textarea:-ms-input-placeholder {
    font-size: 12px;
  }
  .modal-form__textarea::-ms-input-placeholder {
    font-size: 12px;
  }
  .modal-form__textarea::placeholder {
    font-size: 12px;
  }
}
.modal-form__textarea:hover, .modal-form__textarea:focus {
  border-color: #2196f3;
  outline: #2196f3;
}

.modal-form__label {
  position: relative;
  width: 370px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: #757575;
}
.modal-form__label--checkbox {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-left: 13px;
  width: 100%;
  height: 15px;
}
@media (min-width: 1200px) {
  .modal-form__label--checkbox {
    width: 425px;
  }
}
@media (min-width: 1200px) {
  .modal-form__label {
    width: 400px;
  }
}

.modal-form__input {
  width: 100%;
  height: 40px;
  margin-top: 4px;
  margin-bottom: 10px;
  padding: 11px 12px 11px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: fill, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__input--checkbox {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 16px;
  height: 15px;
  margin: 0 8px 0 0;
  border-radius: 2px;
  display: block;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.modal-form__input:hover + .modal-form__icon, .modal-form__input:hover, .modal-form__input:focus + .modal-form__icon, .modal-form__input:focus {
  fill: #2196f3;
  border-color: #2196f3;
  outline: #2196f3;
}
.modal-form__input--checkbox:checked {
  background-color: #2196f3;
}
.modal-form__input--checkbox:checked .modal-form__icon--check {
  opacity: 1;
}

.modal-form__icon {
  position: absolute;
  left: 12px;
  bottom: 50%;
  -webkit-transform: translateY(25%);
          transform: translateY(25%);
}
.modal-form__icon--check, .modal-form__icon--border {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.modal-form__icon--check {
  left: 0.7px;
}

.modal-form__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  padding: 10px 52px;
  -webkit-transition: background-color, -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color, -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__button:hover, .modal-form__button:focus {
  background-color: #188ce8;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.filter-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.filter-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.filter {
  display: block;
  padding: 6px 22px;
  margin-right: 8px;
  border-radius: 4px;
  background-color: #f5f4fa;
  color: inherit;
  border: none;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.03em;
  -webkit-transition-property: background-color, color, cursor, -webkit-box-shadow;
  transition-property: background-color, color, cursor, -webkit-box-shadow;
  transition-property: background-color, color, cursor, box-shadow;
  transition-property: background-color, color, cursor, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.filter:hover, .filter:focus {
  background-color: #2196f3;
  color: #fff;
  cursor: pointer;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.card-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}

.card-list__item {
  -ms-flex-preferred-size: calc(33.3333333333% - 30px);
      flex-basis: calc(33.3333333333% - 30px);
  margin-right: 30px;
  margin-bottom: 30px;
  overflow: hidden;
  -webkit-transition-property: opacity, -webkit-box-shadow;
  transition-property: opacity, -webkit-box-shadow;
  transition-property: opacity, box-shadow;
  transition-property: opacity, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.card-list__item:hover, .card-list__item:focus {
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
}
.card-list__item:hover > .card-thumb::before, .card-list__item:hover > .card-thumb > .card-thumb__paragraph {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.card-list__item:focus-within > .card-thumb::before, .card-list__item:focus-within > .card-thumb > .card-thumb__paragraph {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.card-thumb {
  position: relative;
  overflow: hidden;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: opacity, transform;
  transition-property: opacity, transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.card-thumb::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 294px;
  background-color: rgba(33, 150, 243, 0.9);
  display: inline-block;
  opacity: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: opacity, transform;
  transition-property: opacity, transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.card-thumb__paragraph {
  position: absolute;
  width: 322px;
  height: 168px;
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: #fff;
  opacity: 0;
  -webkit-transform: translateY(294px);
          transform: translateY(294px);
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: opacity, transform;
  transition-property: opacity, transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link {
  color: #212121;
  text-decoration: none;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-link:hover, .portfolio-link:focus {
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.card-description {
  width: 370px;
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}
.card-description__heading {
  margin-bottom: 4px;
  margin-top: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.card-description__paragraph {
  margin-top: 0;
  margin-bottom: 0;
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 2;
  letter-spacing: 0.06em;
}/*# sourceMappingURL=main.css.map */