.clients {
    @extend %section;
    padding-top: 60px;
    padding-bottom: 60px;

    @media (min-width: 1200px) {
        padding: 94px 0;
    }

    &__heading {
        @extend %sectionHeading !optional;
        
        @media (max-width: 1200px) {
            margin-bottom: 30px;
        font-size: 28px;
    }
    }
}

.client-list {
    @extend %list;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media (min-width: 1200px) {
        flex-wrap: nowrap;
    }
}

.client-list__item {
    @extend %item;
    margin-bottom: 30px;
    width: calc((100% - 30px) / 2);

    &:nth-child(2n-1) {
        margin-right: 30px;
    }

    &:nth-last-child(-n+2) {
        margin-bottom: 0;
    }

    @media (min-width: 768px) {
        width: calc((100% - 2 * 30px) / 3);
        margin-right: 30px;

        &:nth-child(3n) {
            margin-right: 0;
        }

        &:nth-last-child(-n+3) {
            margin-bottom: 0;
        }
    }

    @media (min-width: 1200px) {
        margin-bottom: 0;
        width: calc((100% - 5 * 30px) / 6);

        &:not(:last-child) {
            margin-right: 30px;
        }
    }
}

.client-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 92px;
    border: 1px solid $socialIcons;
    border-radius: 4px;
    transition-property: border-color, fill;
    @extend %transition;

    &:hover>.client-link__logo,
    &:focus>.client-link__logo {
        fill: $accentColor;
    }

    &:hover,
    &:focus {
        border-color: $accentColor;
    }

    &>&__use:hover,
    &>&__use:focus {
        border-color: transparent;
    }

    &__logo {
        fill: $socialIcons;
        @extend %transitionFill;
    }
}