.command-section {
    @extend %section;
    background-color: $secondaryButtonColor;
    padding-top: 60px;
    padding-bottom: 60px;

        &__heading {
            font-weight: 700;
            font-size: 28px;
            line-height: 1.2;
            letter-spacing: 0.03em;
            margin-bottom: 30px;
        }

}

.command-list {
    @extend %list;
}

.command-list__item {
    background-color: $primaryColor;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 100vw;

    &:not(:last-child) {
        margin-bottom: 30px;
    }
}

.member-description {
    width: 100%;
    text-align: center;
    padding-bottom: 24px;
    padding-top: 30px;

    &__name {
        margin: 0 auto 10px auto;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.2;
        letter-spacing: 0.03em;
    }

    &__paragraph {
        color: $paragraphColor;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.2;
        letter-spacing: 0.03em;
    }
}

.social-list {
    @extend %list;
    display: flex;
    margin-top: 16px;
    align-items: center;
    justify-content: center;
}

.social-list__item {
    @extend %item;

    &:not(:last-child) {
        margin-right: 10px;
    }
}

.social-link {
    display: block;
    width: 44px;
    height: 44px;
    border-radius: 22px;
    background-color: $primaryColor;

    transition-property: background-color, fill;
    transition-duration: $transitionDuration;
    transition-timing-function: $cubicBezier;

    &:hover .social-link__card,
    &:focus .social-link__card {
        fill: $primaryColor;
    }

    &:hover, &:focus {
        background-color: $accentColor;
    }
}

.social-link__card {
    fill: $socialIcons;
    margin: 12px;
    @extend %transitionFill;

    &:hover,
    &:focus {
        fill: $primaryColor;
    }
}