.features-section {
    @extend %section;
    padding-top: 60px;
    padding-bottom: 60px;
}

.features-list {
    @extend %list;
}

.features-list__item {
    @extend %item;
    width: 100vw;
    margin: 0 auto;

        &:not(:last-child) {
            margin-bottom: 30px;
        }

    @media (min-width: 480px) {
        width: 450px;
    }
}

.features-div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    margin-bottom: 30px;
    height: 120px;
    background-color: $secondaryButtonColor;
    border: none;
    border-radius: 4px;


    @media (min-width: 480px) {
        width: 450px;
    }

    @media (min-width: 768px) {
        flex-basis: calc()
    }
}

.features-list__heading {
    margin: 0 auto 10px auto;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    text-align: center;
}

.features-list__paragraph {
    color: $paragraphColor;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.03em;
    margin: 0 auto;
}