.header {
    border-bottom: 1px solid #eee;
    margin-bottom: 0;
    width: 100vw;
    height: 60px;
    overflow-y: scroll;

        @media (min-width: 768px) {
            min-height: 80px;
        }
}

.contact-list {
    @extend %list;
    margin-bottom: 64px;
}

.contact-list__item {
    @extend %item;

    &:not(:last-child) {
        margin-right: 48px;
    }

    &:last-child {
        min-width: 142px;
    }
}

.contact-list__link {
    @extend %link;
    position: relative;
    padding: 32px, 0;
    color: $paragraphColor;
    display: flex;
    align-items: center;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    text-decoration: none;
    letter-spacing: 0.02em;

    transition-property: fill, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: $accentColor;
    }

    &:hover .contact-list__icon,
    &:focus .contact-list__icon {
        fill: $accentColor;
    }

    &--phone {
        font-size: 34px;
        line-height: 1.2;
        color: $accentColor;
        margin-bottom: 32px;
    }

    &--mail {
        font-size: 24px;
        line-height: 1.2;
    }
}

.contact-list__icon {
    fill: $paragraphColor;
    margin-right: 10px;
    display: inline-block;
    transition-property: fill;
    @extend %transition;

    &:hover, &:focus {
        fill: $accentColor;
    }
}

.contacts {
    display: none;
    @extend %list;

    @media (min-width: 768px) {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        right: 15px;
    }

    @media (min-width: 1200px) {
        flex-direction: row;
        align-items: center;
    }
}

.contacts__item {
    @extend %item;

        &:first-child {
            margin-bottom: 10px;
            padding-top: 21px;
        }

        &:last-child {
            margin-bottom: 21px;
        }

        @media (min-width: 1200px) {
            padding: 32px 0;
            margin-bottom: 0;
        }
}

.contacts__link {
    @extend %link;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: $paragraphColor;
    text-decoration: none;
    @extend %transitionFill;
    @extend %transitionColor;

    &:hover, &:focus {
        color: $accentColor;
    }

    &:hover .contacts__icon,
    &:focus .contacts__icon {
        color: $accentColor;
        fill: $accentColor;
    }

    @media (min-width: 1200px) {
        font-size: 14px;

            &:first-child {
                margin-right: 30px;
            }
    }
}

.contacts__icon {
    fill: $paragraphColor;
    margin-right: 8px;
    @extend %transitionFill;

        &:hover, &:focus {
            fill: $accentColor;
        }
}

.contacts__icon--envelope {
    @media (min-width: 768px) {
        width: 14px;
        height: 10px;
    }

    @media (min-width: 1200px) {
        width: 16px;
        height: 12px;
    }
}

.contacts__icon--phone {
    @media (min-width: 768px) {
        width: 10px;
        height: 14px;
    }

    @media (min-width: 1200px) {
        width: 10px;
        height: 16px;
    }
}




