.navigation {
    margin-bottom: 302px;

    &-list {
        @extend %list;   
    }
}

.navigation-list__item {
    @extend %item;
    display: block;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: 0.02em;

    &:not(:last-child) {
        margin-bottom: 32px;
    }
}

.navigation-list__link {
    @extend %link;
    text-decoration: none;
    color: $headingColor;

    &:hover,
    &:focus {
        color: $accentColor;
    }

    &--after {
        color: $accentColor;
    }

    &--after::after {
        position: absolute;
        bottom: -2px;
        left: 0;
        content: '';
        width: 100%;
        height: 4px;
        background-color: $accentColor;
        border-radius: 2px;
        opacity: 1;
    }
}