.navigation {
    margin-bottom: 302px;

    &-list {
        @extend %list;

        @media (min-width: 768px) {
                display: none;
            }
    }
}

.navigation-list__item {
    @extend %item;
    display: block;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: 0.02em;

        &:not(last-child) {
            margin-bottom: 32px;
        }
}

.navigation-list__link {
    @extend %link;
    text-decoration: none;
    color: $headingColor;

    &--after {
        color: $accentColor;
    }

    &:hover,
    &:focus {
        color: $accentColor;
    }

}

.nav-flex {
    position: absolute;
    top: 0;
    display: none;
    margin-left: 72px;
    width: 283px;
    margin-right: 96px;

    @media (min-width: 768px) {
        display: inline-flex;
        align-items: center;
    }

    @media (min-width: 1200px) {
        margin-left: 92px;
        margin-right: 315px;
    }

    &__list {
        @extend %list;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}



.nav-flex__item {
@extend %item;
display: flex;
align-items: center;

    &:not(:last-child) {
        margin-right: 50px;
    }
}

.nav-flex__link {
    @extend %linkInHeader;
    line-height: 1.2;

        &--after {
            color: $accentColor;
        }     
}

.nav-flex__link--after::after {
    content: '';
    position: absolute;
    display: block;
    width: 47px;
    height: 4px;
    border-radius: 2px;
    background-color: $accentColor;
    bottom: 2px;
    z-index: 100;

}