.navigation {
    margin-bottom: 302px;

    &-list {
        @extend %list;

        @media (min-width: 768px) {
                display: none;
            }
    }
}

.navigation-list__item {
    @extend %item;
    display: block;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: 0.02em;

        &:not(last-child) {
            margin-bottom: 32px;
        }
}

.navigation-list__link {
    @extend %link;
    text-decoration: none;
    color: $headingColor;

    &:hover,
    &:focus {
        color: $accentColor;
    }

}


 .nav-flex__link--after::after {
     display: none;
     position: absolute;
     bottom: -2px;
     left: 0;
     content: '';
     width: 100%;
     height: 4px;
     background-color: $accentColor;
     border-radius: 2px;
     opacity: 1;

 }

.nav-flex {
    display: none;
    margin: 0 96px 0 72px;

    @media (min-width: 768px) {
        display: inline-block;
    }
}

.nav-flex__list {
    @extend %list;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-flex__item {
@extend %item;
    &:not(:last-child) {
        margin-right: 50px;
    }
}

.nav-flex__link {
    padding: 32px 0 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: $headingColor;
    text-decoration: none;

        &--after {
            color: $accentColor;
        }

        &--after::after {
            display: block;
            width: 47px;
            height: 4px;
            border-radius: 4px;
            background-color: $accentColor;
        }
}