.logo {
    color: $accentColor;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
    letter-spacing: 0.03em;

    &--black {
        color: #000;
    }

    &--white {
        color: $primaryColor;
        letter-spacing: 0.03em;
    }

    &-header {
        box-sizing: border-box;
        display: inline-block;
        margin-top: 24px;
        margin-bottom: 25px;
    }

    &-footer {
        display: block;
        margin-bottom: 20px;
    }
}