%item {
    list-style-type: none;
    margin-bottom: 0;
}

%list {
    padding: 0;
    margin: 0;
    list-style: none;
}

%link {
    display: inline-block;
}

%linkInHeader {
    position: relative;
    display: block;
    padding: 32px 0;
    color: var(--primary-heading-color);
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    text-decoration: none;
    letter-spacing: 0.02em;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

%transition {
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

%section {
    margin: 0 0;
}

%section-heading {
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: 700px;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}

%transitionFill {
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

%transitionColor {
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

%transitionBgColor {
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

%addressText {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    font-style: normal;
    text-decoration: none;
    letter-spacing: 0.03em;
}

%placeholderFooter {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

%positionCenter {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}