$primaryColor: #fff;
$headingColor: #212121;
$accentColor: #2196f3;
$paragraphColor: #757575;
$secondaryButtonColor: #f5f4fa;
$buttonHoverFocus: #188ce8;
$socialIcons: #afb1b8;
$footerBg: #2f303a;
$contactsFooter: #d9d9d9;

$cubicBezier: cubic-bezier(0.4, 0, 0.2, 1);
$transitionDuration: 250ms;

