:root {
    --primary-background-color: #ffffff;
    --primary-heading-color: #212121;
    --accent-color: #2196f3;
    --primary-paragraph-color: #757575; 
    --button-background: #f5f4fa; 
    --background-color: #2f303a;
    --contacts-footer: #d9d9d9; 
    --button-hover-focus: #188ce8; 
    --hero-bg-overlay: rgb(47, 48, 58, 0.4); 
    --hero-bg-color: #c4c4c4;
    --social-icons: #afb1b8;
    --border-bottom-header: #ececec;
}

* {
   margin: 0;
   padding: 0;
}

body {
    background-color: var(--primary-background-color);
    color: var(--primary-heading-color);
    font-family: Roboto, sans-serif;
}

img {
   display: block;
}

a {
   display: inline-block;
}

li {
   list-style-type: none;
   margin-bottom: 0;
}

.section {
   margin-top: 0;
   margin-bottom: 0;
}

.list {
   padding: 0;
   margin: 0;
}

/* header */
.logo {
    color: var(--accent-color);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
    letter-spacing: 0.03em;
}

.logo--black {
    color: #000000;
}

.header {
    border-bottom: 1px solid #eeeeee;
    margin-bottom: 0;
}

.header--border {
   border-bottom: 1px solid var(--border-bottom-header);
}

.navigation-list__link,
.contact-list__link {
   position: relative;
   display: block;
   padding: 32px 0;
    color: var(--primary-heading-color);
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    text-decoration:none;
    letter-spacing: 0.02em;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-list__link:hover,
.navigation-list__link:focus,
.contact-list__link:hover,
.contact-list__link:focus,
.address__location:hover,
.address__location:focus, 
.address__contact:hover,
.address__contact:focus,
.modal-form__contract {
    color: var(--accent-color);
}


.navigation-list__link--after::after {
   position: absolute;
   bottom: -2px;
   left: 0;
   content: '';
   display: block;
   width: 100%;
   height: 4px;
   background-color: var(--accent-color);
   border-radius: 2px;
   opacity: 1;
}

.contact-list__link {
   color: var(--primary-paragraph-color);
   display: flex;
   align-items: center;

   transition-property: fill;
   transition-duration: 250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/* all lists */
 
 /* hero */
 .hero-section {
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right, var(--hero-bg-overlay), var(--hero-bg-overlay)),
         url('../images/hero-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--hero-bg-color);
    border: 1px solid #000000;
 }

 .hero-section__heading {
    max-width: 696px;
    margin: 0 auto 30px;
    color: #ffffff;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    text-transform: uppercase;
    letter-spacing: 0.06em;
 }

 .button:hover,
 .button:focus {
    background-color: var(--button-hover-focus);
    color: var(--primary-background-color);
 }

 /* Our features */

 .features-list__paragraph {
    color: var(--primary-paragraph-color);
    font-size:14px;
    font-weight:400;
    line-height:1.7;
    letter-spacing: 0.03em;
    margin-bottom: 0;
    margin-top: 0;
 }

 .features-list__heading {
    margin-bottom: 10px;
    margin-top: 0;
    font-size:14px;
    font-weight:700;
    line-height:1.1;
    text-transform: uppercase;
    letter-spacing: 0.03em;
 }

 .work-section__heading {
   margin-bottom: 50px;
   margin-left: auto;
   margin-right: auto;
   margin-top: 0;
    font-size:36px;
    font-weight:700;
    line-height:1.2;
    text-align:center;
 }

 /* Command */

 .command-section {
    background-color: var(--button-background);
 }

 .command-list__item {
    background-color: var(--primary-background-color);
 }

 .member-description__name {
    margin-bottom: 10px;
    margin-top: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
 }

 .member-description__paragraph {
    margin-top: 0;
    margin-bottom: 0;
    color: var(--primary-paragraph-color);
    font-weight:400;
    font-size:16px;
    line-height:1.2;
    letter-spacing: 0.03em;
 }

 /* Footer */

 .footer {
   padding-top: 60px;
   padding-bottom: 60px;
   background-color: var(--background-color);
 }

 .logo--white {
    color: var(--primary-background-color);
    letter-spacing: 0.03em;
 }

 .address__contact,
 .address__location {
    color: var(--contacts-footer);
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    font-style:normal;
    text-decoration:none;
    letter-spacing:0.03em;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
 }

 .address__location {
   display: inline-block;
   box-sizing: border-box;
   color: var(--primary-background-color);
 }

 /* Portfolio */
 .filter {
    display: block;
    padding: 6px 22px;
    margin-right: 8px;
    border-radius: 4px;
    background-color: var(--button-background);
    color:inherit;
    border: none;
    font-family:inherit;
    font-size:16px;
    font-weight:500;
    line-height:1.6;
    letter-spacing: 0.03em;

    transition-property: background-color, color, cursor, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
 }

 .filter:hover,
 .filter:focus {
   background-color: var(--accent-color);
   color: var(--primary-background-color);
   cursor:pointer;
   box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 1px 2px 0px rgba(0, 0, 0, 0.08),
    0px 3px 1px 0px rgba(0, 0, 0, 0.1);
 }

 .address__contact:hover,
 .address__contact:focus {
   color:var(--accent-color);
 }

 .visually-hidden {
   position: absolute;
   white-space: nowrap;
   width: 1px;
   height: 1px;
   overflow: hidden;
   border: 0;
   padding: 0;
   clip: rect(0 0 0 0);
   clip-path: inset(50%);
   margin: -1px;
 }

 .portfolio-link {
   color: var(--primary-heading-color);
   text-decoration: none;
   transition-property: box-shadow;
   transition-duration: 250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
 }

 .portfolio-link:hover,
 .portfolio-link:focus,
 .command-list__item,
 .footer-button:hover,
 .footer-button:focus-within {
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
 }

 .card-description__heading {
   margin-bottom: 4px;
   margin-top: 0;
   font-weight: 700;
   font-size: 18px;
   line-height: 2;
   letter-spacing: o.06em;
 }

 .card-description__paragraph {
   margin-top: 0;
   margin-bottom: 0;
   color: var(--primary-paragraph-color);
   font-weight: 400;
   font-size: 16px;
   line-height: 2;
   letter-spacing: 0.06em;
 }

 /* block model */

.container {
   width: 1200px;
   padding-left: 15px;
   padding-right: 15px;
   margin-left: auto;
   margin-right: auto;
}

 .logo-header {
   box-sizing: border-box;
   display: inline-block;
   margin-top: 24px;
   margin-bottom: 25px;
 }

 .button {
   display: block;
   padding: 10px 32px;
   margin-top: 30px;
   margin-left: auto;
   margin-right: auto;
   border: none;
   border-radius: 4px;
   background-color: var(--accent-color);
   color: var(--primary-background-color);
   font-family: inherit;
   font-weight: 700;
   font-size: 16px;
   line-height: 1.9;
   cursor: pointer;
   letter-spacing: 0.06em;

   transition-property: background-color;
   transition-duration: 250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
 }

 .features-list__item,
 .features-div {
   width: 270px;
 } 
 
 .work-list,
 .features-list,
 .command-list {
   display: flex;
 }

 .command-section__heading {
   margin-bottom: 50px;
   margin-left: auto;
   margin-right: auto;
   text-align: center;
   font-weight: 700px;
   font-size: 36px;
   line-height: 1.2;
   letter-spacing: 0.03em;
   
 }

 .logo-footer {
   display: block;
   margin-bottom: 20px; 
 }

 .address__contact {
   margin-top: 9px;
 }

 /* portfolio-block-model */

 .filter-list {
   display: flex;
   margin-right: auto;
   margin-left: auto;
   margin-bottom: 50px;
   justify-content: center;
 }

.card-list {
   display: flex;
   flex-wrap: wrap;
   margin-right: -30px;
   margin-bottom: -30px;
}

/* flex */
.navigation-list {
   display: flex;
   justify-content: space-between;
   margin-right: 344px;
}

.contact-list__item:not(:last-child),
.navigation-list__item:not(:last-child) {
   margin-right: 48px;
}

.container--flex,
.contact-list {
   display: flex;
   align-items: center;
}

.navigation-list__item {
   padding: 32px, 0;
}

.features-list__item:not(:last-child),
.command-list__item:not(:last-child),
.work-list__item:not(:last-child),
.client-list__item:not(:last-child) {
   margin-right: 30px;
}

.member-description {
   text-align: center;
   padding-bottom: 30px;
   padding-top: 30px;
}

.card-list__item {
   flex-basis:calc(100% / 3 - 30px);
   margin-right: 30px;
   margin-bottom: 30px;
   overflow: hidden;

   transition-property: opacity, box-shadow;
   transition-duration: 250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 
}

.card-list__item:hover,
.card-list__item:focus {
   box-shadow: 0px 4px 4px 0px #00000040;
}

.card-description {
   width: 370px;
   padding: 20px 24px;
   border: 1px solid #eeeeee;
   border-top: none;
}

.features-section,
.command-section,
.filter-section,
.clients {
   padding-top: 94px;
   padding-bottom: 94px;
}

.work-section {
   padding-bottom: 94px;
}

.work-div {
   position: relative;
}

.description {
   padding-top: 30px;
   padding-bottom: 30px;
}

.container-footer {
   display: flex;
   align-items: baseline;
}

/* svg */
.contact-list__icon {
   fill: var(--primary-paragraph-color);
   margin-right: 10px;
   display: inline-block;
   transition-property: fill;
   transition-duration: 250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-list__item:last-child {
   min-width: 142px;
}

.contact-list__link:hover .contact-list__icon,
.contact-list__link:focus .contact-list__icon,
.modal-close:hover .modal-close__use,
.client-link:hover>.client-link__logo,
.client-link:focus>.client-link__logo {
   fill: var(--accent-color);
}

/*features*/
.features-div {
   margin-bottom: 30px;
   height: 120px;
   background-color: var(--button-background);
   border: none;
   border-radius: 4px;
}

.features-div__icon {
   margin: 25px 100px;
}

/* command */
.social-list {
   display: flex;
   margin-top: 16px;
   justify-content: center;
   padding-left: 0;
}

.social-link {
   width: 44px;
   height: 44px;
   border-radius: 22px;  
   background-color: #ffffff;

   transition-property: background-color, fill;
   transition-duration: 250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link__card {
   fill: var(--social-icons);
   margin: 12px;

   transition-property: fill;
   transition-duration: 250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__item:not(:last-child) {
   margin-right: 10px;
}

.social-link:hover,
.social-link:focus {
   background-color: var(--accent-color);
   fill: #fff;
}

.social-link__card:hover,
.social-link__card:focus,
.social-link:hover .social-link__card,
.social-link:focus .social-link__card {
   fill: var(--primary-background-color);
}

/* Clients */

.clients__heading {
   margin-left: auto;
   margin-right: auto;
   text-align: center;
   font-weight: 700;
   font-size: 36px;
   line-height: 1.2;
   letter-spacing: 0.03em;
}

.client-list {
   display: flex;
   margin-top: 50px;
   margin-left: auto;
   margin-right: auto;
}

.client-link {
   width: 170px;
   height: 92px;
   border: 1px solid rgba(175, 177, 184, 1);
   border-radius: 4px;

   transition-property: border-color, fill;
   transition-duration: 250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
   
}

.client-link:hover,
.client-link:focus {
   border-color: var(--accent-color);
}

.client-link__logo {
   fill: var(--social-icons);
   margin: 16px 32px;

   transition-property: fill;
   transition-duration: 250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

 .client-link > .client-link__use:hover,
 .client-link > .client-link__use:focus {
   border-color: transparent;
 }
/* footer */
.footer-socials__heading {
   color: var(--primary-background-color);
   font-size: 14px;
   font-weight: 700;
   line-height: 1.2;
   letter-spacing: 0.03em;
   text-transform: uppercase;
}

.footer-socials {
   margin-left: 70px;
}

.footer-list__link {
   width: 44px;
   height: 44px;
   border-radius: 22px;
   background-color: rgba(255, 255, 255, 0.1);

   transition-property: background-color;
   transition-duration: 250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-list__icon {
   margin: 12px;
   fill: var(--primary-background-color);
}

.footer-list {
   display: flex;
   margin-top: 20px;
   padding-left: 0;
}

.footer-list__item:not(:last-child) {
   margin-right: 10px;
}

.footer-list__link:hover,
.footer-list__link:focus {
   background-color: var(--accent-color);
}

.footer-list__link:focus {
   background-color: var(--accent-color);
}
/*position*/

.work-description {
   position: absolute;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 70px;
   padding-top: 27px;
   padding-bottom: 27px;
   background-color: rgba(47, 48, 58, 0.8);
}

.work-description__paragraph {
   font-weight: 700;
   font-size: 14px;
   line-height: 1.2;
   text-align: center;
   color: var(--primary-background-color);
   letter-spacing: 0.03em;
   text-transform: uppercase;
}

.card-thumb {
   position: relative;
   overflow: hidden;

   transition-property: opacity, transform;
   transition-duration: 250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.card-thumb::before {
   position: absolute;
   top: 0;
   left: 0;
   content: '';
   width: 100%;
   height: 294px;
   background-color:rgba(33, 150, 243, 0.9);
   display: inline-block;
   opacity: 0;
   transform: translateY(100%);

   transition-property: opacity, transform;
   transition-duration: 250ms;
   transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);

}

.card-list__item:hover > .card-thumb::before,
.card-list__item:hover>.card-thumb>.card-thumb__paragraph {
   opacity:1;
   transform: translateY(0);
}

.card-list__item:focus-within>.card-thumb::before,
.card-list__item:focus-within>.card-thumb>.card-thumb__paragraph {
   opacity: 1;
   transform: translateY(0);
}

.card-thumb__paragraph {
   position: absolute;
   width: 322px;
   height: 168px;
   padding: 63px 24px;
   font-weight: 400;
   font-size: 18px;
   line-height: 1.6;
   letter-spacing: 0.03em;
   color: var(--primary-background-color);
   opacity: 0;
   transform: translateY(294px);

   transition-property: opacity, transform;
   transition-duration: 250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop {
   position: fixed;
   opacity: 1;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.2);

   transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
               visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
   opacity: 0;
   pointer-events: none;
   visibility: hidden;

   transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
               visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
   transform: translate(-50%, -50%) scale(0.9);
   transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
   position: relative;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   padding: 40px;
   width: 528px;
   height: 581px;
   border-radius: 4px;
   background-color: var(--primary-background-color);

   transform: translate(-50%, -50%) scale(1);
   transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
            
}

.modal-close {
   position: absolute;
   top: 8px;
   right: 8px;
   width: 30px;
   height: 30px;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 6px;
   border-radius: 50%;
   background-color: var(--primary-background-color);
   border: 1px solid rgba(0, 0, 0, 0.1);
   cursor: pointer;

   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close__svg {
   cursor: pointer;
}

.modal-close__use {
   fill: #000000;
   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-group__label {
   display: block;
   margin-bottom: 20px;
   text-transform: uppercase;
   font-weight: 700;
   font-size: 14px;
   line-height: 1.2;
   letter-spacing: 0.03em;
   color: var(--primary-background-color);
}

.footer-group__input {
   width: 358px;
   padding: 15px 16px;
   border-radius: 4px;
   border: 1px solid rgba(255, 255, 255, 0.3);
   background-color: transparent;
   
   transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-group__input:hover,
.footer-group__input:focus {
   border: 1px solid var(--accent-color);
   outline: var(--accent-color);
}

.footer-group__input::placeholder {
   font-weight: 400;
   font-size: 16px;
   line-height: 1.25;
   letter-spacing: 0.03em;
   color: rgba(255, 255, 255, 0.6);
}

.footer-group__input:not(:placeholder-shown) {
   font-weight: 400;
   font-size: 16px;
   line-height: 1.25;
   letter-spacing: 0.03em;
   color: rgba(255, 255, 255, 0.6);
}

.footer-button {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 200px;
   height: 50px;
   margin-left: 12px;
   padding: 10px 28px 13px 28px;

   line-height: 1.875;
   text-align: center;

   transition: background-color, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-button__use {
   fill: var(--primary-background-color);
}

.footer-button__icon {
   margin-left: 10px;
}

.footer-form,
.navigation {
   display: flex;
   align-items: flex-end;
   width: 573px;
   margin-left: 93px;
}

.modal-form {
   padding-bottom: 30px;
}

.modal-form__heading {
   font-weight: 700;
   font-size: 20px;
   line-height: 1.172;
   letter-spacing: 0.03em;
   text-align: center;
   margin-bottom: 12px;
}

.modal-form__label {
   position: relative;

   font-weight: 400;
   font-size: 12px;
   line-height: 1.2;
   letter-spacing: 0.01em;
   color: var(--primary-paragraph-color);
}

.modal-form__input {
   width: 100%;
   height: 40px;
   margin-top: 4px;
   margin-bottom: 10px;
   padding: 11px 12px 11px 42px;
   border: 1px solid rgba(33, 33, 33, 0.2);
   border-radius: 4px;

   transition: fill, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input + .modal-form__icon {
   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__textarea {
   width: 100%;
   height: 120px;
   margin-top: 4px;
   padding: 12px 16px;
   border: 1px solid rgba(33, 33, 33, 0.2);
   border-radius: 4px;
   resize: none;

   transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__textarea::placeholder {
   font-weight: 400;
   font-size: 12px;
   line-height: 1.2;
   letter-spacing: 0.01em;
   color: rgba(117, 117, 117, 0.5);
}

.modal-form__contract {
   display: inline-block;
}


.modal-form__input--checkbox {
   width: 16px;
   height: 15px;
   margin: 0 8.38px 0 0;
}

.modal-form__button {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 200px;
   height: 50px;
   background-color: var(--accent-color);
   border-radius: 4px;
   padding: 10px 52px;
   margin-bottom: 30px;

   line-height: 1.875;

   transition: background-color, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-form__icon {
   position: absolute;
   left: 12px;
   bottom: 50%;
   transform: translateY(25%);
}

.modal-form__input:hover + .modal-form__icon,
.modal-form__input:hover {
   fill: var(--accent-color);
   border-color: var(--accent-color);
   outline: var(--accent-color);
}

.modal-form__input:focus + .modal-form__icon,
.modal-form__input:focus {
   fill: var(--accent-color);
   border-color: var(--accent-color);
   outline: var(--accent-color);
}

.modal-form__textarea:hover,
.modal-form__textarea:focus {
   border-color: var(--accent-color);
   outline: var(--accent-color);
}

.modal-form__button:hover,
.modal-form__button:focus {
   background-color: var(--button-hover-focus);
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.modal-form__input--checkbox {
   border-radius: 2px;
   display: block;
   appearance: none;
}

.modal-form__label--checkbox {
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-left: 13px;
   margin-top: 8px;
}

.modal-form__span {
   margin-left: 7px;
   font-weight: 400px;
   font-size: 14px;
   line-height: 1.7;
   letter-spacing: 0.03em;
   color: var(--primary-paragraph-color);
   width: 400px;
}
.modal-form__icon--check,
.modal-form__icon--border,
.modal-form__input--checkbox {
   position: absolute;
   top:50%;
   left: 0;
   transform: translateY(-50%);
}

.modal-form__icon--check {
   left: 0.7px;
}

.modal-form__input--checkbox:checked {
   background-color: var(--accent-color);
}

.modal-form__input--checkbox:checked .modal-form__icon--check {
   opacity: 1;
}




















































































